<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.i18nsolutions.themeddoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logofinalfinal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.i18nsolutions.themeddoc.PharmacyFullDetails"/>
        <activity android:name="com.i18nsolutions.themeddoc.PharmacyBookings" />
        <activity android:name="com.i18nsolutions.themeddoc.ShowPrescription" />
        <activity android:name="com.i18nsolutions.themeddoc.ChatActivity" />
        <activity android:name="com.i18nsolutions.themeddoc.About" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.i18nsolutions.themeddoc.LabPaymentFullDetails" />
        <activity android:name="com.i18nsolutions.themeddoc.LabBookings" />
        <activity android:name="com.i18nsolutions.themeddoc.HealthReports" />
        <activity android:name="com.i18nsolutions.themeddoc.LabUploadCsv" />
        <activity android:name="com.i18nsolutions.themeddoc.LabDashboard" />
        <activity android:name="com.i18nsolutions.themeddoc.PharamacyManual" />
        <receiver
            android:name="com.i18nsolutions.themeddoc.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.i18nsolutions.themeddoc.PharmacyDashboard"/>
        <activity android:name="com.i18nsolutions.themeddoc.MedicineLists"/>
        <activity android:name="com.i18nsolutions.themeddoc.LabTests"/>
        <activity android:name="com.i18nsolutions.themeddoc.PharmacyProfile"/>
        <activity android:name="com.i18nsolutions.themeddoc.PharmacyInside"/>
        <activity
            android:name="com.i18nsolutions.themeddoc.PharmacyRegistration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.i18nsolutions.themeddoc.LabProfile"/>
        <activity android:name="com.i18nsolutions.themeddoc.DoctorProfile" />
        <activity
            android:name="com.i18nsolutions.themeddoc.GridViewSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.i18nsolutions.themeddoc.SlotFullDetails" />
        <activity
            android:name="com.i18nsolutions.themeddoc.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.i18nsolutions.themeddoc.LabRegistration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.i18nsolutions.themeddoc.DoctorOrLabTechnician"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.i18nsolutions.themeddoc.LabTestInfo" />
        <activity android:name="com.i18nsolutions.themeddoc.Slot_Details" />
        <activity
            android:name="com.i18nsolutions.themeddoc.profile" />
        <activity
            android:name="com.i18nsolutions.themeddoc.doctor_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.i18nsolutions.themeddoc.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>